html
  head
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/jeu.css')
    link(rel="stylesheet", type='text/css', href='bower_components/bootstrap-sweetalert/lib/sweet-alert.css')  
  body
    .container
      .row
        h1.text-center On the road Again ! 
      
          h4.text-center.mainRole Choose your Name
          div#validationName
            form.removeClass.form-inline.col-lg-offset-4(action="")
              input.form-group(type="text" placeholder="John Marlboro").form-control#surname
              input.btn.btn-default#ok(type='submit', value='send')
        #game.wrapperGame
          img.introImage(src="images/motogame.jpg")
          .explanation How to Play
          #nameUtil
          #winner
          #chat
            div(style='float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;')
              b Partie
              #rooms
              #users
              #score
            #conversation
            div.form-inline.form-group
              input.form-control.form-inline#data
              input.btn.btn-default.form-inline#datasend(type='button', value='submit')
    .container
      .row
        button.btn.btn-success.btn-lg(data-toggle='modal', data-target='#myModal') Best Scores
  #myModal.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            |                 
            h4.modal-title Congratulations, you're a Bad Ass
          |             
          .modal-body
            .table-responsive       
              table.table-hover
                tr
                  th Login
                  th Score
                each val in data
                  tr
                    td= val.login  
                    td= val.score
                     
          .modal-footer
            row
              .col-md-offset-4
              button.btn.btn-default.centered(type='button', data-dismiss='modal') Close
                  
      //- img(src="images/route-66-2.jpg")
script(type="text/javascript", src="bower_components/jquery/jquery.min.js")
script(type="text/javascript", src="bower_components/jquery-ui/jquery-ui.min.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="javascripts/socket.js")
script(src="bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js")