@import url(https://fonts.googleapis.com/css?family=Vast+Shadow);
* {
  box-sizing: border-box; }

body {
  font-family: 'Vast Shadow', serif; }

.wrapperGame {
  margin: 0 auto;
  width: 1000px; }

#game {
  margin: 0 auto;
  width: 100%;
  background: url(../images/route-66-2.jpg) 50% 50%;
  height: 600px;
  position: relative; }

#nameUtil {
  position: absolute; }

#validationName {
  margin: 0 auto;
  width: 100%; }

#chat {
  display: none;
  position: absolute;
  left: 66%;
  width: 400px;
  background-color: #FFF; }

.ready {
  font-weight: bold;
  text-align: center; }

div[id^='/#'], .truck {
  background: url(../images/moto.png); }

#table {
  display: none; }

input[placeholder="John Marlboro"] {
  padding-left: 50px; }

.table {
  width: 100%; }

.btn-success {
  margin-top: 10px; }

#data {
  width: 150px; }

table {
  width: 100% !important; }

.explanation {
  position: absolute;
  color: white;
  font-size: 22px;
  background-color: #777777;
  padding: 5px 15px;
  font-weight: bold;
  top: 10px;
  left: 10px; }

#chat .form-group {
  margin: 10px 0 10px 5px; }
