doctype html
html
	head
		link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		link(rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css")
		meta(charset='utf8')
		title Mon blog de voyage
		script(src="/tinymce/tinymce.min.js")
		script(src='https://code.jquery.com/jquery-2.2.0.min.js')
		script(src='bower_components/masonry/dist/masonry.pkgd.min.js')
		script.
			tinymce.init({
			selector: '#mytextarea',
			plugins: [
			"advlist autolink link image lists charmap print preview hr anchor pagebreak",
			"searchreplace wordcount visualblocks visualchars code insertdatetime media nonbreaking",
			"table contextmenu directionality emoticons paste textcolor filemanager"
			],
			image_advtab: true,
			toolbar: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect forecolor backcolor | link unlink anchor | image media | print preview code",
			docs_language : "fr",
			images_upload_url: 'postAcceptor.js',
			images_upload_base_path: '/img',
			images_upload_credentials: true,
			theme: 'modern',
			width: 1200,
			height: 200
			});
			
	body
		header
			nav
				ul
					if !role
						li  
							a(href="/users/connection") Connexion
					if role	
						li 
							a(href="/article") Nouvel article
					li 
						a(href="/?page=1&size=10") Liste articles
					
					if role
						li
							a(href="/users/disconnect") Se déconnecter

					if role && role != 3
						if role == 2	
							li Bonjour #{nom}, role contributeur 
						if role == 1	
							li Bonjour #{nom}, role administrateur
		div.container
			div.background 
	
		script.
			$(window).scroll(function(){
			var pos = $('.background').offset().top;
			var scrolled = $(window).scrollTop();
			$('.background').css('top', -(scrolled)*1.2 + 'px');     
			});