include header.jade

section.wrapper
	h1 Gestion de l'article
	form(method='post' action='/confmodif' enctype="multipart/form-data")
		| Modifiez votre titre
		input(name='title' value=value.titre)  	
		hr
		textarea#mytextarea(name='contenu') #{value.contenu}
		input(type="file" name="article" accept="image/*")
		button.send Post
		if role == 1
			a.button(href="/delete?page="+ value._id) Supprimer
		input(value=value._id type="hidden" name="identite")
	script.
		$('.send').click(function(e){
			if($('input').val()=="" || tinyMCE.get('mytextarea').getContent()==""){
			e.preventDefault()
			alert('Veuillez remplir les champs');
			} else{
				$(this).attr({type:"submit"})
			}
		})
		
